@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
* {
    font-family: 'Lilita One', cursive;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #5F7470;
}

::-webkit-scrollbar {
    display: none;
}

.solucion {
    background-color: #d7cf30;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.solucion:hover {
    background-color: #35bb64;
}

.incidencia {
    width: 2%;
    height: 2%;
    position: fixed;
    left: 89%;
    fill: #d7cf30;
}

.incidencia:hover {
    fill: #d7cf308b;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #889696;
    opacity: 1;
    /* Firefox */
}

.estadisticas {
    margin: 10px 5px;
    height: 300px;
    overflow: scroll;
}

.tftable {
    font-size: 12px;
    color: #D2D4C8;
    width: 100%;
    border-width: 1px;
    border-color: #5F7470;
    border-collapse: collapse;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-c:after {
    content: "";
    display: table;
    clear: both;
}

.tftable th {
    font-size: 12px;
    background-color: #5F7470;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #B8BDB5;
    text-align: center;
}

.tftable tr {
    background-color: #686767;
}

.tftable td {
    font-size: 12px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #B8BDB5;
    text-align: center;
}

.tftable tr:hover {
    background-color: #5F7470;
}

.btn-modal {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: #D2D4C8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 5px;
    background-color: #212529;
}

.btn-modal:hover {
    background-color: #5F7470;
    color: #212529;
}

.botonmodal {
    text-decoration: none;
    color: #fff;
    padding: 15px 60px;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 500;
    transition: background-color .3s;
}

.botonmodal:hover {
    background-color: #fff;
    color: #1e3c72;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .4s;
    --transform: translateY(0);
    --transition: transform .5s .5s;
}

.modal2--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .4s;
    --transform: translateY(0);
    --transition: transform .5s .5s;
}

.modalcontainer {
    margin: auto;
    width: 350px;
    max-width: 600px;
    max-height: 90%;
    background-color: white;
    border-radius: 6px;
    padding: 3em 2.5em;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
    display: flex;
    justify-content: center;
}

.modalcontainer input {
    text-align: center;
    border-radius: 5PX;
    border: 1px solid #5F7470;
    padding: 3px;
}

.modal__title {
    font-size: 2.5rem;
}

.modalp {
    margin-bottom: 10px;
}

.modalimg {
    width: 90%;
    max-width: 300px;
}

.modalclose {
    height: auto;
    text-decoration: none;
    color: #fff;
    background-color: #F26250;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
    padding: 1% 5%;
    font-size: 10px;
    position: fixed;
    ;
    top: 8px;
    left: 84%;
}

.modalclose:hover {
    color: #F26250;
    background-color: #fff;
}

@media (max-width:800px) {
    .modal__container {
        padding: 2em 1.5em;
    }
    .modaltitulo {
        font-size: 2rem;
    }
}

#btn-modal {
    display: none;
}

#btn-modal:checked~.filtros {
    display: flex;
    flex-direction: column;
}

.filtros {
    margin: 10px 0px 10px 0px;
    display: none;
}

.filtros input {
    border: none;
    margin: 0 5px;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    background-color: #5F7470;
    color: #D2D4C8;
}

.filtros input:hover {
    background-color: #212529;
    color: #D2D4C8;
}

.filtros input:focus-visible {
    background-color: #212529;
    color: #D2D4C8;
}

.filtros button {
    width: 5%;
    height: 28px;
    border: none;
    border-radius: 5px;
    background-color: #212529;
    color: #D2D4C8;
}

.filtros button:hover {
    background-color: #5F7470;
    color: #212529;
}

.nav {
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separador {
    width: 90%;
}

hr:not([size]) {
    height: 2px;
    border-radius: 5px;
}

.cerrarsesion {
    text-decoration: none;
    color: #889696;
}

.cerrarsesion:hover {
    color: #212529;
    text-shadow: 0px 0px 10px #B8BDB5;
}

.bienvenida {
    padding: 0 0 0 5%;
}

.contenedor {
    width: 90%;
    height: calc(100vh - 200px);
    background-color: #D2D4C8;
    margin: 0 auto;
    border-radius: 5px;
    justify-content: center;
    align-items: baseline;
    padding: 15px;
}

.menu {
    width: 90%;
    height: calc(100vh - 300px);
    background-color: #D2D4C8;
    margin: 0 auto;
    display: flex;
    border-radius: 5px;
    overflow: scroll;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu a {
    width: 40%;
    height: 15%;
    padding: 5px;
    margin: 25px 10px 40px 0;
    background-color: #E0E2DB;
    border: 1px solid #889696;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    color: #212529;
}

.menu a:hover {
    background-color: #5F7470;
    color: #D2D4C8;
}

button:focus-visible {
    outline: none;
    background-color: #889696;
}

span {
    color: #B8BDB5;
}

.mininav {
    display: flex;
}

.close {
    width: 2%;
    height: 2%;
    position: fixed;
    left: 92%;
    fill: #D2D4C8;
}

.close:hover {
    fill: #212529;
}

.mesas {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    overflow: hidden;
    float: left;
}

.mesas img {
    width: 80%;
    padding-left: 15%;
}

canvas {
    width: 50px;
    height: 50vh;
    box-sizing: unset;
}

.column20altura {
    height: 20%;
    float: left;
    width: 100%;
}

.column80altura {
    height: 80%;
    width: 100%;
    float: left;
}

@media (max-width: 800px) {
    .close {
        width: 3%;
    }
    .mesas {
        width: 25%;
    }
    .filtros {
        display: none;
        flex-direction: column;
    }
    .filtros input {
        height: 30px;
        margin: 5px;
        font-size: 80%;
        width: 140px;
    }
    .filtros button {
        margin: 0 0 0 5px;
        width: 100px;
    }
    .incidencia {
        width: 3%;
        left: 87%;
    }
}

@media (max-width: 450px) {
    .incidencia {
        width: 5%;
        left: 80%;
    }
    .close {
        width: 5%;
        left: 90%;
    }
    .mesas {
        width: 50%;
    }
    .mesas img {
        width: 70%;
    }
    .modalcontainer {
        width: 50%;
    }
    .modalcontainer input {
        width: 50px;
    }
    .modalclose {
        top: 8px;
        left: 81%;
    }
}